.urlsPage .subdomain-header, .urlsPage .subdomain-info {
  text-align: center;
  min-width: 30%;
  max-width: 30%;
}

/* App.css or any CSS file */
.multiline-ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 2; /* Number of lines to show */
  -webkit-line-clamp: 2; /* Number of lines to show */
}